@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impress";
  src: url("/fonts/Impress.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minnie";
  src: url("/fonts/Minnie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Remington";
  src: url("/fonts/vtRemingtonPortable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Remington", sans-serif;
}

.inner-shadow {
  box-shadow: inset 0px 0px 8px rgba(0,0,0,0.75);
}
